/* Colors: Blue - #0b8bbb // Orange - #e86e14 */

.line { clear: both; border-bottom: 2px #bbb solid; }
#header { float: left; width: 880px; margin: 0 0 25px 0; }
#header #header-content { float: left; width: 560px; }
#header #header-content h1 { margin: 0 0 2px 0; color: #444; }
#header #header-content h2 { color: #444; font-size: 20px; }
#header #header-content p { font-size: 15px; margin: 0 0 0 1px; text-align:justify}
#header #contact-details { float: left; margin: 18px 0 0 0; }
#header #header-content .contact { font-size: 16px; color: #888; margin: 0; }
#header #header-content .contact span { color: #444; width: 75px;  } 
#header #header-photo { float: right;  margin-top: 15px; background-color: #eee;  padding: 5px 5px 0px 5px; -webkit-box-shadow: 0px 0 10px #aaa; -moz-box-shadow: 0px 0 10px #aaa; box-shadow: 0px 0 10px #aaa; }
#header #header-photo img { width: 192px; height: 256px; border: 1px #ddd solid; }
#header #header-content #AKA:p{ font-size: 18px; margin: 0 0 0 1px; }
#content .cv-section { width: 880px; margin: 0 0 0 0; }
#content .cv-section h3 { font-size: 28px; color: #444; margin: 20px 0 15px 0;  }
#content .cv-section h4.title { font-size: 16px; color: #444; margin: 5px 0 5px 0; }
#content .cv-section h4.meta { font-size: 16px; color: #777; margin: 0 0 5px 0; }
#content .cv-section p { font-size: 16px; color: #555; letter-spacing: 0; }
#content .cv-section-item {padding: 15px 0 15px 0; }
#content .cv-section-item .cv_image{float:left}
#content .cv-section-item .cv_image img{ width:180px; height:100px}
#content .cv-section-item .cv_content{ padding-left: 200px;  width:700px }


